%div{:class => 'well centered'}
  %h1 Ticket Statuses
  %br
  #table{:style => 'border-radius: 25px; padding: 20px; background: #B8E6B8;'}
    %table{:id => "table_id", :class => "display"}
      %thead
        %tr
          %th ID
          %th Ticket status
      %tbody
        -@ticket_statuses.each do |t_s|
          %tr
            %td= t_s[:id]
            %td= t_s[:title]

#dialog{:style => 'display: none; text-align: center'}
  #title_label
  = label_tag 'Title:'
  %br
  = text_field_tag 'title', '', {:size => '30'}


#confirm{:style => 'display: none; text-align: center'}
  #message Delete ticket status?
#error{:style => 'display: none; text-align: center'}
  #message

:javascript
    $(document).ready( function () {
      $.fn.dataTable.TableTools.defaults.aButtons = [ "div", "div", "div" ];

      var table = $("#table_id").DataTable({
        "aLengthMenu": [5, 10, 15],
        "iDisplayLength": 5,
        "columnDefs": [
          {
              "targets": [0],
              "visible": false
          }
        ],
        "order": [[ 1, "asc" ]],
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "aButtons": [
                {
                    "sExtends":    "div",
                    "sButtonText": "New ticket status"
                },
                {
                    "sExtends":    "div",
                    "sButtonText": "Edit ticket status"
                },
                {
                    "sExtends":    "div",
                    "sButtonText": "Delete ticket status"
                }
            ]
        }
      });

      table.page(parseInt("#{params[:page] || 0}")).draw(false);

      $('#ToolTables_table_id_1').addClass('DTTT_disabled');
      $('#ToolTables_table_id_2').addClass('DTTT_disabled');

      $('#table_id tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
            $('#ToolTables_table_id_1').addClass('DTTT_disabled');
            $('#ToolTables_table_id_2').addClass('DTTT_disabled');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            $('#ToolTables_table_id_1').removeClass('DTTT_disabled');
            $('#ToolTables_table_id_2').removeClass('DTTT_disabled');
        }
      } );

      $('#ToolTables_table_id_0').click( function () {
        $('#dialog').dialog({
          width: 370,
          closeText: "",
          modal: true,
          resizable: false,
          title: "New ticket status",
          buttons: [
            {
              text: "Create",
              click: function() {
                $.ajax({
                  method: 'POST',
                  url: "#{create_ticket_status_path}",
                  data: {title: $('#title').val()},
                  success: function() {
                    $('#dialog' ).dialog( "close" );
                    window.location.replace("#{ticket_statuses_path}" + '?page=' + table.page());
                  }
                });
              }
            },
            {
              text: "Cancel",
              click: function() {
                $('#dialog' ).dialog( "close" );
              }
            }
          ]
        });
      } );

      $('#ToolTables_table_id_1').click( function () {
        if(!$('#ToolTables_table_id_1').hasClass('DTTT_disabled')) {
          $.ajax({
            method: 'get',
            url: "#{get_ticket_status_path}",
            data: {id: table.row('.selected').data()[0]},
            success: function(json) {
              var data = JSON.parse(json);
              $('#title').val(data.title);
              $('#dialog').dialog({
                width: 370,
                closeText: "",
                modal: true,
                resizable: false,
                title: "Edit ticket status",
                buttons: [
                  {
                    text: "Save",
                    click: function() {
                      $.ajax({
                        method: 'POST',
                        url: "#{edit_ticket_status_path}",
                        data: {id: data.id, title: $('#title').val()},
                        success: function() {
                          $('#dialog' ).dialog( "close" );
                          window.location.replace("#{ticket_statuses_path}" + '?page=' + table.page());
                        }
                      });
                    }
                  },
                  {
                    text: "Cancel",
                    click: function() {
                      $('#dialog' ).dialog( "close" );
                    }
                  }
                ]
              });
            }
          });
        }
      } );

      $('#ToolTables_table_id_2').click( function () {
        if(!$('#ToolTables_table_id_2').hasClass('DTTT_disabled')) {
          $('#confirm').dialog({
          width: 300,
          closeText: "",
          modal: true,
          resizable: false,
          title: "Are you sure?",
          buttons: [
            {
              text: "Ok",
              click: function() {
                $('#confirm' ).dialog( "close" );
                $.ajax({
                  method: 'post',
                  url: "#{delete_ticket_status_path}",
                  data: {id: table.row('.selected').data()[0]},
                  success: function() {
                    window.location.replace("#{ticket_statuses_path}" + '?page=' + table.page());
                  }
                });
              }
            },
            {
              text: "Cancel",
              click: function() {
                $('#confirm' ).dialog( "close" );
              }
            }
            ]
          });
        }
      });
    });