%div{:class => 'well centered'}
  %h1 Users
  %br
  #table{:style => 'border-radius: 25px; padding: 20px; background: #B8E6B8;'}
    %table{:id => "table_id", :class => "display"}
      %thead
        %tr
          %th ID
          %th User name
          %th Login
          %th Department
          %th Admin
      %tbody
        -@users.each do |user|
          %tr
            %td= user[:id]
            %td= user[:username]
            %td= user[:login]
            %td= user[:department]
            %td= user[:admin]

#dialog{:style => 'display: none; text-align: center'}
  #login_label
  = label_tag 'Login:'
  %br
  = text_field_tag 'login', '', {:size => '30'}
  #username_label
  = label_tag 'User name:'
  = text_field_tag 'username', '', {:size => '30'}
  #department_label
  = label_tag 'Department:'
  = select_tag 'departments', options_for_select(@departments, 0), :style => "width: 80%", :include_blank => true
  #admin_label
  = label_tag 'Admin:'
  = check_box_tag 'admin'
  #password_label
    = label_tag 'password:'
  = text_field_tag 'password', '', {:size => '30'}

#confirm{:style => 'display: none; text-align: center'}
  #message Delete user?
#error{:style => 'display: none; text-align: center'}
  #message

:javascript
    $(document).ready( function () {
      $.fn.dataTable.TableTools.defaults.aButtons = [ "div", "div", "div" ];

      var table = $("#table_id").DataTable({
        "aLengthMenu": [5, 10, 15],
        "iDisplayLength": 5,
        "columnDefs": [
          {
              "targets": [0],
              "visible": false
          }
        ],
        "order": [[ 1, "asc" ]],
        "sDom": 'T<"clear">lfrtip',
        "oTableTools": {
            "aButtons": [
                {
                    "sExtends":    "div",
                    "sButtonText": "New user"
                },
                {
                    "sExtends":    "div",
                    "sButtonText": "Edit user"
                },
                {
                    "sExtends":    "div",
                    "sButtonText": "Delete user"
                }
            ]
        }
      });

      table.page(parseInt("#{params[:page] || 0}")).draw(false);

      $('#ToolTables_table_id_1').addClass('DTTT_disabled');
      $('#ToolTables_table_id_2').addClass('DTTT_disabled');

      $('#table_id tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
            $('#ToolTables_table_id_1').addClass('DTTT_disabled');
            $('#ToolTables_table_id_2').addClass('DTTT_disabled');
        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            $('#ToolTables_table_id_1').removeClass('DTTT_disabled');
            $('#ToolTables_table_id_2').removeClass('DTTT_disabled');
        }
      } );

      $('#ToolTables_table_id_0').click( function () {
        $('#dialog').dialog({
          width: 370,
          closeText: "",
          modal: true,
          resizable: false,
          title: "New user",
          buttons: [
            {
              text: "Create",
              click: function() {
                var checked = $('#admin').prop('checked');
                $.ajax({
                  method: 'POST',
                  url: "#{create_user_path}",
                  data: {login: $('#login').val(), username: $('#username').val(), departments: $('#departments').val(),
                         password: $('#password').val(), admin: checked},
                  success: function() {
                    $('#dialog' ).dialog( "close" );
                    window.location.replace("#{users_path}" + '?page=' + table.page());
                  }
                });
              }
            }
          ]
        });
      } );

      $('#ToolTables_table_id_1').click( function () {
        if(!$('#ToolTables_table_id_1').hasClass('DTTT_disabled')) {
          $.ajax({
            method: 'get',
            url: "#{get_user_path}",
            data: {id: table.row('.selected').data()[0]},
            success: function(json) {
              var data = JSON.parse(json);
              $('#login').val(data.login);
              $('#username').val(data.username);
              $('#departments').val(data.department_id);
              $('#password').val(data.password);
              if(data.admin == true) {
                $('#admin').prop("checked", true);
              } else {
                $('#admin').prop("checked", false);
              }
              $('#dialog').dialog({
                width: 370,
                closeText: "",
                modal: true,
                resizable: false,
                title: "Edit user",
                buttons: [
                  {
                    text: "Save",
                    click: function() {
                      var checked = $('#admin').prop('checked');
                      $.ajax({
                        method: 'POST',
                        url: "#{edit_user_path}",
                        data: {id: data.id, login: $('#login').val(), username: $('#username').val(), departments: $('#departments').val(),
                               password: $('#password').val(), admin: checked},
                        success: function() {
                          $('#dialog' ).dialog( "close" );
                          window.location.replace("#{users_path}" + '?page=' + table.page());
                        }
                      });
                    }
                  }
                ]
              });
            }
          });
        }
      } );

      $('#ToolTables_table_id_2').click( function () {
        if(!$('#ToolTables_table_id_2').hasClass('DTTT_disabled')) {
          $('#confirm').dialog({
          width: 300,
          closeText: "",
          modal: true,
          resizable: false,
          title: "Are you sure?",
          buttons: [
            {
              text: "Ok",
              click: function() {
                $('#confirm' ).dialog( "close" );
                $.ajax({
                  method: 'post',
                  url: "#{delete_user_path}",
                  data: {id: table.row('.selected').data()[0]},
                  success: function() {
                    window.location.replace("#{users_path}" + '?page=' + table.page());
                  }
                });
              }
            },
            {
              text: "Cancel",
              click: function() {
                $('#confirm' ).dialog( "close" );
              }
            }
            ]
          });
        }
      });
    });