%div{:class => 'well centered', :style => 'width: 500px; background: #B8E6B8;'}
  = form_tag create_ticket_post_path, :method => :post do
    #name_label
      = label_tag 'Name:'
    #name
      = text_field_tag 'name', '',{:placeholder => 'Joe'}
    %br
    #email_label
      = label_tag 'Email:'
    #email
      = email_field_tag 'email', '',{:placeholder => 'email@example.com'}
    %br
    #department_label
      = label_tag 'Department:'
    #department
      = select_tag 'departments', options_for_select(@departments, 0)
    #text_area_label
      = label_tag 'Your request:'
    #text
      = text_area_tag 'text', '', :size => "40x4"
      %br
      %br
      = submit_tag 'Create issue ticket', :class => 'btn btn-success'