%div{:class => 'well centered', :style => 'height: auto; text-align: center; background: #33AD33;'}
  %p{:style => 'color:brown; font-size: 150%; font-weight: bold;'}= "Ticket #{@ticket.title}"
  %div{:style => 'width: 100%'}
    = label_tag 'Created by:', nil, :style=> 'float: left;'
    %div{:style => 'color:brown; font-size: 110%; float: left; width: 45%; text-align: left;'}= @ticket.creator_name
    %div{:style => 'color:brown; font-size: 110%; float: right;'}= TicketStatus.where(id:@ticket.ticket_status_id).first.try(:title)
    = label_tag 'Ticket status:', nil, :style=> 'float: right; width: 20%; text-align: right;'
  %div{:style => 'width: 100%; text-align: left; display:inline-block; vertical-align:middle;'}
    = label_tag 'Ticket department:', nil, :style => 'float: left;'
    %div{:style => 'color:brown; font-size: 110%;'}= Department.where(id: @ticket.department_id).first.try(:title)
  %div{:style => 'display:inline-block; height:100%; vertical-align:middle; overflow-y: scroll; height:175px;'}
    - @ticket.ticket_messages.order('created_at asc').each do |message|
      %div{:style => 'text-align: left; border-radius: 15px 15px 15px; padding: 5px; margin-bottom: 5px; background: lightgreen;'}
        = label_tag 'Creator:'
        - if message.user_id
          = User.where(id: message.user_id).first.try(:username)
        - else
          Customer
        = label_tag 'Created:'
        = message.created_at.strftime("%d/%m/%Y %H:%M:%S")
        %br
        #center{:style => 'text-align: center'}
          = text_area_tag "message_#{message.id}", message.text, :size => '115x4', :disabled => true
        #right{:style => 'text-align: right; margin-right: 10px'}
          %button{:class => 'quote btn btn-warning', :id => "#{message.id}"} Quote
%br
#new_message{:class => 'well centered', :style => "text-align: left ; margin: auto; background: #{session[:user].nil? ? '#A3FFD1' : '#ADD633'};"}
  = form_tag ticket_add_message_post_path, :method => :post do
    #container{:style => 'width: 100%'}
      = label_tag 'Type answer here:', nil, :style=> 'width: 45%; float: left;'
      - if session[:user]
        = select_tag 'ticket_status', options_for_select(@statuses, @ticket.ticket_status_id), :style=> 'width: 20%; float: right; margin-top: -4px;'
        = label_tag 'Set status:', nil, :style=> 'width: 8%; float: right;'
    #center{:style => 'text-align: center'}
      = text_area_tag 'ticket_message', '', :size => '115x4', :style => 'float: center'
    %br
    = text_field_tag 'ticket_reference', @ticket.title , {:hidden => true}
    = submit_tag 'Add answer', :class => 'btn btn-success', data: {:disable_with => '...'}

:javascript
  $( document ).ready(function() {
   $('.quote').click(function(event) {
    $('#ticket_message').val($('#ticket_message').val() + 'quote------->\n' + $('#message_' +this.id).val() + '\n--------------<\n')
   });
  });