!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SupportIssueTracking
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav{:class => 'navbar navbar-default', :style => 'background: #33AD33;'}
      .container-fluid
        %a{:class => "navbar-brand", :style => 'color: brown;', :href => root_path, :title => 'To start page.'} Support Issue Tracking
        =form_tag search_ticket_path, :class => "navbar-form navbar-right", :role => "search" , :method => :get do
          .form-group
            = text_field_tag 'ticket_reference', '',{:placeholder => 'Type ticket reference here...', :size => "23"}
          = submit_tag 'Search', :class => "btn btn-primary"
        - if session[:user]
          %ul{:class => "nav navbar-nav"}
            %li{:class => "active"}
              %a{:href => tickets_path}= @user[:username]
            - if @user[:admin]
              %li
                %a{:href => users_path, :style => "color: black"} Users
              %li
                %a{:href => departments_path, :style => "color: black"} Departments
              %li
                %a{:href => ticket_statuses_path, :style => "color: black"} Ticket Statuses
          =form_tag log_out_post_path, :class => "navbar-form navbar-right", :method => :post do
            = submit_tag 'Log out', :class => "btn btn-info"
    - unless flash.empty?
      - flash.each do |key, value|
        %div{:class => "centered-top alert alert-#{key}", :style => 'width: 50%'}
          %a{:class => "close", "data-dismiss" => "alert"} &#215;
          = content_tag :div, value, :id => "flash_#{key}", :style => "text-align:center"
        %br
    = yield
